 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="inicio" href="#">Red Bull Racing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="inicio" href="#">Inicio</a>
          <a class="nav-link" routerLink="galeria" href="#">Galeria</a>
          <a class="nav-link" routerLink="servicios" href="#">Corredores</a>
          
        </div>
      </div>
    </div>
  </nav>


