<section class="contain bg-dark"> 
    <div class="card bg-dark text-white">
      <img src="aaa.jpg" class="cardimg" alt="Auto de Red Bull">
      <div class="card-img-overlay">
        <h1 class="herotext">RB16B</h1>
        <p class="herotext">Este es nuestro auto conducido por nuestros corredores Max Verstappen y Sergio Perez.</p>
      </div>
    </div>
  </section>
