     <section id="pics" class="container-fluid bg-dark p-3">
  
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./imgs/c3.jpg" class="d-block w-100 carrimg" alt="Checo Perez">
            </div>
            <div class="carousel-item">
              <img src="./imgs/c2.jpg" class="d-block w-100 carrimg" alt="Max Verstappen">
            </div>
            <div class="carousel-item">
              <img src="./imgs/c8.webp" class="d-block w-100 carrimg" alt="Max Verstappen">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
      </section>