<footer class="container-fluid bg-dark ">
    <div class="container-fluid row align-items-center justify-content-around">
      <h3 class="textfoot">Contacto</h3>
      <div class="col-md-2 divfoot">
        <a href="https://www.instagram.com/redbullracing/?hl=es-la" target="_blank"> <i class="fab fa-instagram"></i></a>
      </div>
      <div class="col-md-2 divfoot">
        <a href="https://twitter.com/redbullracing?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"> <i class="fab fa-twitter"></i></a>
      </div>
      <div class="col-md-2 divfoot">
        <a href="https://es-la.facebook.com/redbullracing/" target="_blank"> <i class="fab fa-facebook"></i></a> 
      </div>
    </div>
  </footer>
